@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/fond.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-bottom: 44px;
    background-size: cover;
    min-height: 100vh;
    color: white;
    backdrop-filter: blur(7px); /* flou background */
    position: relative;
    
}

header {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
 }

div {
    text-align: center;
    text-shadow: 1px 1px black;
    
}

h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 50px 5px;
    padding : 10px;
    border-width:3px;
    border-style:solid;
    border-color:lightblue;
    text-shadow: 1px 1px black;
    
}

h2 {
    font-size: 28px;
    text-shadow: 1px 1px black;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px black;
}

p {
    font-size: 16px;
    text-shadow: 1px 1px black;
}

a,button {
    text-decoration: none;
    color:white;
    padding: 10px;
    text-align: center;
    border: none;
    text-shadow: 0px 0px white;
    
}

a:hover{
    color: black;
    background:lightblue;
    transition: all 0.3s ease-in-out;
}


/* Barre de navigation */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    width: auto;
    margin: 0px;
}

nav li {
    color: white;
    margin: 0px 25px 0px 25px;
    list-style-type: none;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    background: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

nav img {
    width: 50px;
}
/* Fin de la barre de navigation */


/* Footer */
footer{
    position: absolute;
    display: flex;
    background: black;
    color: white;
    font-size: 15px;
    bottom:0;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;   
}

footer a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-left: 30px;
    margin-right: 30px;
}

footer .copyright {
    padding: 0 30px 0 30px;
    border-right: solid 2px;
    border-left: solid 2px;
 }
/* Fin footer */



/* Partie Acceuil */
.accueil {
    display: flex;
    justify-content: center;
    padding: 10% 50px 10% 50px;
    text-align: center;
}

.titre {
    font-family: 'RobotoCondensed';
    
    font-size: 48px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.52px;
    text-shadow: 0 4px 9px rgb(6 16 25 / 45%);
    text-align: center;
}

.btn-primary {
    border: 3px solid rgba(192,252,253,.7);
    border-radius: 0;
    padding: 13px 35px 12px;
    color: #f0e6d2;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    background: #1e2328;
    background-image: transparent;
    box-shadow: 0 0 0 0 transparent;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
    border-image-slice: 1;
    transition: all ease .5s;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none; 
    
}

.btn-secondary {
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(192,252,253,.7);
    border-radius: 0;
    padding: 13px 35px 12px;
    color: #f0e6d2;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    background: #1e2328;
    box-shadow: 0 0 0 0 transparent;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
    border-image-slice: 1;
    transition: all ease .5s;
    text-decoration:none; 

}


/* Partie mentions légales */

.footer1 {
    position : absolute;
    bottom: -250px;
}

.footer1 p {
    margin-left: auto;
    margin-right: auto;
}


.mentions-légales p {

    margin: 10px;
}

.mentions-légales h3 {

    padding-top: 20px;
}

/* Partie contact */

.contact {
    margin-left: 10px;
}

.contact button {
    background-color:#001a4d
}

.contact button:hover{
    color: white;
    background:lightblue;
    transition: all 0.3s ease-in-out;

}

.mail {
    width: 150px;
}
 
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
label {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    display: block;
}
 
input,
textarea {
    background-color: var(--bg);
}
 
input,
textarea {
    padding: 3px;
    border: none;
    width: 100%;
}
 
 form button {
    margin-top: 20px;
}


/* Partie Règles*/
.regles {
    margin:50px;
}

.regles ul {
    list-style-type: square;
    text-shadow: 1px 1px black;
}
 

/* Partie histoire */
.histoire img {
    display: flex;
    width: 20%;
    justify-content: space-between;
    height: auto;
    margin-left: 12px;
}

.credits ul {
    list-style-type: none;
    padding: 0;
}

.histoire p {
    margin-left: 12px;
    margin-right: 12px;
}

.credits li {
    text-align: center;
}

.credits a {
    background-color:#001a4d ;
    transition: all 0.3s ease-in-out;
}

.credits a:hover{
    color: white;
    background:lightblue;
    transition: all 0.3s ease-in-out;

}

.credits h3 {
    padding-top: 50px;
}

/* Partie conception */
.conception img{
    width: 550px;
    margin-left: 10px;
    text-align: center;
}

.conception main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 25%;
    padding: 50px 0;
}

.conception h2 {
    margin-left: 10px;
}

/* Partie telecharger */
.telecharger a {
    background-color:#001a4d;
    transition: all 0.3s ease-in-out;
    
}

.telecharger a:hover{
    color: white;
    background:lightblue;
    transition: all 0.3s ease-in-out;
}

ol li {
    line-height: 40px;
}

.telecharger{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.command {
    font-family: 'Courier New', Courier, monopace;
 }

.telecharger li{
    text-shadow: 1px 1px black;
}


/* Partie Mobile */
.mobile-nav {
    display: none;
}
 
.menu a {
    display: none;
}
 
.menu svg {
    fill: #fff;
}
 
nav .titre {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}
 
@media (max-width: 768px) {
    .accueil,
    nav ul,
    li,
    footer {
       flex-direction: column;
    }
 
    main {
       margin: 0 10%;
    }
 
 
    nav {
       position: sticky;
       top: 0;
    }
 
    .main-nav {
       max-height: 0;
       transform: translateY(-100vh);
    }
 
    .main-nav ul,
    .main-nav a {
       width: 100%;
    }
 
    .main-nav li {
       margin: 0;
    }
 
    .main-nav a {
       display: inline-block;
       padding: 10px 0;
    }
    :target .main-nav {
       max-height: 100vh;
       transform: translateY(0);
    }
 
    .mobile-nav {
       display: flex;
       align-items: center;
       justify-content: flex-start;
    }
 
    .menu.ouvrir {
       display: flex;
    }
 
    :target .menu.ouvrir {
       display: none;
    }
 
    .menu.fermer {
       display: none;
    }
 
    :target .menu.fermer {
       display: flex;
    }
 
    footer {
        position: absolute;
        color: white;
        font-size: 15px;
        bottom:0;
        width: 100%;
        justify-content: space-between;
        list-style-type: none; 
    }
 
    footer .copyright {
       text-align: center;
       padding: 0;
       margin: 0 40px;
       border-left: none;
       border-right: none;
       border-top: solid 2px;
       border-bottom: solid 2px;
    }
}

/* Fin partie Mobile */